@import './RegistrationForm.css';
@import './Main.css';
@import '~antd/dist/antd.css';
.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 60px;
    float: left;
}

.App-header {
    background-color: #001525;
    height: 60px;
    width: 100%;
    color: white;
}

.App-top-header {

    background:  #DF574B;

    height:      60px;
    position:    fixed;
    top:         0px;
    width:       100%;
}

.App-title {
    font-size: 1.5em;
    color: white;
    padding-top: 16px;
    float: left;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}